@{
    var Lead = Model.String(BlogKeys.Lead);
    var Published = Model.Get<DateTime>(BlogKeys.Published);   
    var Tags = Model.Get<string[]>(BlogKeys.Tags);
}
    <h2 class="offset-top-50">@Model.WithoutSettings.String(BlogKeys.Title)</h2>
    <p class="small offset-top-16"><a href="#">Emilia Warren</a> 
    @if (Published != default(DateTime))
        {
            <text>- <a href="#" class="text-gray">@Published.ToLongDateString(Context)</a></text>
        }
    <span class="inset-left-10 reveal-inline-block">
        <span class="icon mdi mdi-comment-outline text-primary text-middle inset-right-5">
        </span><a href="#comments" class="text-gray">0 comments</a>
        </span>
            @if (Tags != null)
    {
        <span class="inset-left-10"> Tags: </span>
        @foreach (string tag in Tags.OrderBy(x => x))
            {
                IDocument tagDocument = Documents[Blog.Tags].FirstOrDefault(x => x.String(BlogKeys.Tag) == tag && x.Get<int>(Keys.CurrentPage) == 1);
                if(tagDocument != null)
                {          
                    <span class="inset-left-5"><a href="@Context.GetLink(tagDocument)">@tag</a>
        </span>      

                }
            }  
    } 
    </p>
    
    @if(!string.IsNullOrWhiteSpace(Lead))
    {
        <h2 class="subheading">@Lead</h2>
    } 

