<hr class="visible-xs-block" />
<div class="cell-md-12 offset-top-40">
    @if(Documents[Blog.Tags].Any())
        {
            <div class="cell-md-12 offset-top-30">
            <h5>Tags</h5>
            <div>
                @foreach (IDocument tagDocument in Documents[Blog.Tags]
                    .GroupBy(x => x.String(BlogKeys.Tag)).Select(x => x.Where(p => p.Get<int>(Keys.CurrentPage) == 1).First())
                    .OrderByDescending(x => x.Get<int>(Keys.TotalItems)).Take(10))
                {
                    string tag = tagDocument.String(BlogKeys.Tag);
                    string postCount = tagDocument.String(Keys.TotalItems);
                    <a role="button" href="@Context.GetLink(tagDocument)" class="btn btn-default btn-sm"> @tag (@postCount)</a>
                }
            </div>
            <ul class="pager">
                <li class="next">
                    <a href="@Context.GetLink("/tags")">View All Tags &rarr;</a>
                </li>
            </ul>
            </div>
        }

        @if(!Context.Bool(BlogKeys.IndexPaging))
        {
            <hr />
            <h3>Older Posts</h3>
            @foreach(IDocument post in Documents[Blog.BlogPosts].Skip(3).Take(4))
            {        
                var Published = post.Get<DateTime>(BlogKeys.Published); 
                // TODO: The skip above needs to line up with the number of posts on the index page
                // Also turn this section off if the index is paged
                <div class="offset-top-30">
                    <!-- Post-->
                    <div class="post-blog-thumbnail unit unit-sm-horizontal unit-md-vertical text-sm-left unit-lg-horizontal">
                        <div class="unit-left"><a href="@Context.GetLink(post)">
                        <img src="images/post-01.jpg" width="184" height="139" alt=""></a></div>
                        <div class="unit-body">
                            <h6><a href="@Context.GetLink(post)" class="text-base text-bold">
                            @post.WithoutSettings.String(BlogKeys.Title)</a></h6>
                            <div class="small offset-top-7">
                            <a href="blog.html">@post.String("Author")</a> - 
                            <a href="blog.html" class="text-gray">@Published.ToLongDateString(Context)</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if(Context.Bool(BlogKeys.GenerateArchive))
            {
                <ul class="pager">
                    <li class="next">
                        <a href="@Context.GetLink(Context.String(BlogKeys.PostsPath))">Archive &rarr;</a>
                    </li>
                </ul>
            }
        }

                    <div class="cell-md-12 offset-top-50">
                      <hr>
                    </div>
                    <div class="cell-md-12 offset-top-40">
                      <div class="well">
                        <h3>About Us</h3>
                        <div class="unit unit-lg-horizontal offset-top-30">
                          <div class="unit-left"><img src="images/user-01.jpg" width="140" height="140" alt="" class="img-responsive center-block"></div>
                          <div class="unit-body">
                            <h5>Emilia Warren</h5>
                            <p class="offset-top-10">Hello! My name is Emilia Warren and I'm a full-time licensed real…</p>
                          </div>
                        </div>
                        <div class="offset-top-30"><a href="#" style="padding: 12px 40px;" class="btn btn-base">read more</a></div>
                      </div>
                    </div>
                    <div class="cell-md-12 offset-top-50">
                      <hr>
                    </div>
                    <div class="cell-md-12 offset-top-40">
                      <div class="well">
                        <h3>Follow Us</h3>
                        <ul class="list-inline offset-top-30">
                          <li><a href="#" class="icon icon-sm text-white fa-facebook"></a></li>
                          <li><a href="#" class="icon icon-sm text-white fa-twitter"></a></li>
                          <li><a href="#" class="icon icon-sm text-white fa-google-plus"></a></li>
                        </ul>
                      </div>
                      <div class="well well-dark">
                        <h3>Newsletter</h3>
                        <p class="offset-tpo-10 offset-md-top-25 text-gray">Sign up for the best deals in real estate!</p>
                        <!-- RD Mailform-->
                        <form data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php" class="offset-top-20 rd-mailform form-inline-custom" novalidate="novalidate">
                          <div class="form-group">
                            <label for="subscribe-email" class="form-label rd-input-label">Enter<span class="veil reveal-lg-inline"> please your</span> e-mail
                            </label>
                            <input id="subscribe-email" type="email" name="email" data-constraints="@@Required @@Email" class="form-control form-control-white form-control-has-validation form-control-last-child"><span class="form-validation"></span>
                          </div>
                          <button type="submit" class="btn btn-primary">get</button>
                        </form>
                      </div>
                    </div>
</div>